<h1> Groceries! </h1>

<%= link_to "New Item", new_item_path %>

<% @items.each do |item| %>
    <li>
      <%= link_to item.title, item_path(item.id) %>
      <%= link_to "edit", edit_item_path(item[:id]) %>
      <%= link_to "delete", item, method: :delete, data: { confirm: "You sure?" }%>
    </li>
<% end %>